<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisesoft.system.domain.SysUser">
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true"/>

	<resultMap id="BaseResultMap" type="com.wisesoft.system.domain.vo.SysUserVo">
		<id column="USERID" property="userId" jdbcType="VARCHAR" />
		<result column="USERNAME" property="userName" jdbcType="VARCHAR" />
		<result column="NICKNAME" property="nickName" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="MOBILENUMBER" property="mobileNumber" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		USERID as userId,
		USERNAME as userName,
		NICKNAME as nickName,
		PASSWORD as password,
		MOBILENUMBER as mobileNumber
		
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<if test="userId != null"> AND USERID = #{userId}</if>
				<if test="userName != null">AND USERNAME = #{userName}</if>
				<if test="password != null">AND PASSWORD = #{password}</if>
				<if test="nickName != null">AND NICKNAME = #{nickName}</if>
				<if test="mobileNumber != null">AND MOBILENUMBER = #{mobileNumber}</if>
				
				<!-- 模糊查询 -->
				<if test="userNameLike != null">AND NICKNAME LIKE CONCAT("%",#{userNameLike},"%")</if>
			</trim>
		</where>
		<if test="sorting != null">ORDER BY ${sorting}</if>
		<if test="offset != null and limit != null">
			LIMIT #{offset}, #{limit}
		</if>
	</sql>
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		SELECT COUNT(USERID)
		FROM SYS_USER
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM SYS_USER
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM SYS_USER
		WHERE USERID = #{userId}
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM SYS_USER
		WHERE USERID = #{userId}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM SYS_USER
		<include refid="Base_Where_Clause" />
	</delete>

	<!-- 添加 -->	
	<insert id="insert" parameterType="com.wisesoft.system.domain.SysUser">
		INSERT INTO SYS_USER(
			USERID,
			USERNAME,  
			NICKNAME, 
			PASSWORD,
			MOBILENUMBER
		)
		values (
			#{userId,jdbcType=VARCHAR}, 
			#{userName,jdbcType=VARCHAR},  	  
			#{nickName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{mobileNumber,jdbcType=VARCHAR}
		)
	</insert>
	
	
	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="com.wisesoft.system.domain.SysUser">
		UPDATE SYS_USER
		<set>
			<if test="userName != null">USERNAME = #{userName},</if>
			<if test="nickName != null">NICKNAME = #{nickName},</if>
			<if test="password != null">PASSWORD = #{password},</if>
			<if test="mobileNumber != null">MOBILENUMBER = #{mobileNumber}</if>
		</set>
		WHERE USERID = #{userId}
	</update>
	
	<update id="updateById" parameterType="com.wisesoft.system.domain.SysUser">
		UPDATE SYS_USER
		SET USERNAME = #{userName},
		NICKNAME = #{nickName},
		PASSWORD = #{password},
		MOBILENUMBER = #{mobileNumber}
		WHERE USERID = #{userId}
	</update>
	
	<!-- 测试查询 -->
	<select id="testSelectList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_user
		<include refid="Base_Where_Clause" />
	</select>
	
</mapper>